In [31]:
import pandas as pd
df = pd.read_csv("stocks.csv")
df

                                            sudhan
tickers eps           revenue price         people
GOOGL   27.82         87      845       larry page
WMT     4.61          484     65              n.a.
MSFT    -1            85      64        bill gates
RIL     not available 50      1023   mukesh ambani
TATA    5.6           -1      n.a.      ratan tata

In [30]:
df_new = df.fillna({
    'eps':0
    'people': None
})
df_new

SyntaxError: invalid syntax (<ipython-input-30-4260f1a95c26>, line 3)